<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/classes/home">Lớp học vui vẻ</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/classes/home">Classes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/students/studentPage">Students</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/emails/emailPage">Emails</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Quản lý
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/classes/classesManage">Cập nhật lớp học</a></li>
            <li><a class="dropdown-item" href="/classes/classesStorage">Lớp học đã kết thúc</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/infor">Thông tin</a></li>
            <li><a class="dropdown-item" href="/reports">Thống kê</a></li>
          </ul>
    
  </div>
</nav>

